<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>登陆</title>
	<link rel="stylesheet" href="../assets/libs/particles/css/style.css">
	<link rel="stylesheet" href="../assets/css/base.css">
	<link rel="stylesheet" href="../assets/css/login.css" />
</head>
<body>
	<!-- particles.js container -->
	<div id="particles-js"></div>
	<div id="wrapper">
		<div>
			<img src="../assets/img/suiji_logo.png" />
			<h2>记录生活中的每一个闪光点</h2>
		</div>
		<nav class="switch_nav">
			<a href="register.html" id="switch_signup" class="switch_btn">注册</a>
			<a href="javascript:;" id="switch_login" class="switch_btn on">登陆</a>
			<div class="switch_bottom" id="switch_bottom"></div>
		</nav>
		<div id="login">
			<form method="post" action="">
				<ul class="group_input">
					<li>
						<input type="text" class="mobile required" id="username" placeholder="账号" />
					</li>
					<li>
						<input type="password" class="psd required" id="psd" placeholder="密码" />
					</li>
				</ul>
				<button type="button" class="submit_btn" id="btnSubmit">登陆</button>
			</form>
		</div>
	</div>
	<script src="../assets/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="../assets/libs/particles/particles.min.js"></script>
	<script src="../assets/libs/particles/js/app.js"></script>
	<script src="../assets/route_conf.js"></script>
	<script src="../assets/util/md5.js"></script>
	<script src="../assets/util/request.js"></script>
	<!-- <script src="../assets/libs/particles/js/lib/stats.js"></script> -->
	<script>
		$(function(){
		//为表单的必填文本框添加提示信息（选择form中的所有后代input元素）
        // $("form :input.required").each(function () {
        //     //通过jquery api：$("HTML字符串") 创建jquery对象
        //     var $required = $("<strong class='high'>*</strong>");
        //     //添加到this对象的父级对象下
        //     $(this).parent().append($required);
        // });
			// var errorMsg = $(".error-msg").text();
		//为表单元素添加失去焦点事件
		$("form :input").blur(function(){
			var $parent = $(this).parent();
			$parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）		
			//验证手机号
			if($(this).is("#username")){
				var mobileVal = $.trim(this.value);
				var regMobile = /^[a-zA-z][a-zA-z0-9]*$/;
				if(mobileVal == "" || !regMobile.test(mobileVal) || mobileVal.length <= 6){
					var errorMsg = " 输入账号字母开头且长度不小于6";
					$parent.append("<span class='msg onError'>" + errorMsg + "</span>");
				} else{
					var okMsg=" 输入正确";
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
				}
			}
			//验证密码
            if($(this).is("#psd")){
                var psdVal = $.trim(this.value);
                var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
                if(psdVal== "" || !regPsd.test(psdVal)){
                    var errorMsg = " 密码为6-20位字母、数字的组合！";
                    $parent.append("<span class='msg onError'>" + errorMsg + "</span>");
                }
                else{
                    var okMsg=" 输入正确";
                    $parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
                }
            }
		}).keyup(function(){
			//triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点
			$(this).triggerHandler("blur"); 
		}).focus(function(){
			$(this).triggerHandler("blur");
		});

				//点击重置按钮时，通过trigger()来触发文本框的失去焦点事件
		$("#btnSubmit").click(function(){
    		//trigger 事件执行完后，浏览器会为submit按钮获得焦点
    		$("form .required:input").trigger("blur");
    		var data = {
				account: $('#username').val(),
				passwd: hex_md5($('#psd').val()),
			};
			// $.ajax({
            //     type: "post",
            //     url: route.login,
            //     dataType: "json",
            //     data: data,
            //     async: false,
            //     success: function (d) {
            //         if (d.status == 200) {
            //             alert(d.message);
            //         }
            //         else {
            //             alert(d.message);
            //         }
            //     },
            // });
    		post(
    		    "auth/login",
				data,
				function (data) {
					if(data.status == 200){
					    //跳转
				    	window.location.replace('blogs.html')

					}else{
					    alert(data.message);
					}
                }
			)

    	});
		})
		
	</script>

	<script src="../assets/util/request.js"></script>
	<script src="../assets/util/jquery.cookie.js"></script>
	<script>
		// function success(d){
		//     if(d.status == 200)
		//         alert(d.message)
		// 	else
		//         alert(d.message)
		// }
		// //
		$(function(){
		    function success(d){
				if(d.status == 200)
				    window.location.replace('blogs.html')
			}
			$.ajax({
				type: "get",
				url: "/auth/auto_login",
				dataType: "json",
				async: false,
				success: success
			});

		    // request_get("/auth/auto_login", $.cookie("session_key"),success)
		})
	</script>
</body>
</html>
